<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="TestApp4_VersionControl.TestApp4_VersionControl">
	<uses-sdk />
	<application android:label="TestApp4_VersionControl">
	</application>
</manifest>